@page "/guids"
<h3>Poradniki</h3>
<style>
    h2{
        color:deepskyblue;
        font-family:Arial;
        font-size: 24px;
        font-weight:inherit
    }
</style>

<div>
    <h2>Mechanika kamuflażu</h2>
    <div>

    </div>
</div>
<div>
    <h2>Mechanika pancerza</h2>
</div>

@code {

}
