@page "/"

<style>
    body {
        background-image: url(https://eu-wotp.wgcdn.co/dcont/fb/image/1920x1080_pDAD01n.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
    }
</style>

<body>
    <h1 style="color:red">Witamy w klanie E-Asy </h1>
    Oficjalna strona klanu E-Asy
</body>


@code{
    [Parameter] public string Name { get; set; }


}
   


