@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://worldoftanks.eu/pl/" target="_blank" class="ml-md-3">World of Tanks (EU)</a>
        <a href="https://eu.wargaming.net/clans/wot/500045152/" target="_blank" class="ml-md-3">Profil klanu (EU)</a>
        <a href="https://discord.gg/k2pNUaYy" target="_blank" class="ml-md-3">Discord</a>
        <a class="ml-md-3" target="_blank" href="https://wotlabs.net/">WOT Labs</a>
        <a class="ml-md-3" target="_blank" href="https://tanks.gg/">Tanks GG</a>
        <a class="ml-md-3" target="_blank" href="https://rykoszet.info/">Rykoszet Info</a>
        <a class="ml-md-3" target="_blank" href="https://www.dom1n.com/">Domin.com</a>
        <a class="ml-md-3" target="_blank" href="https://aslain.com/index.php?/topic/13-download-%E2%98%85-world-of-tanks-%E2%98%85-modpack/">Aslain MOD Pack</a>
        <a class="ml-md-3" target="_blank" href="http://wotreplays.eu/">WOT Replays</a>
        <a style="color:red" class="ml-md-auto" href="regulations">Regulamin</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
