<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">E-ASY  <i style="font-size:14px; color:gold">World of Tanks</i></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scheduler">
                <span class="oi oi-calendar" aria-hidden="true"></span> Terminarz spotkań
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="news">
                <span class="oi oi-chat" aria-hidden="true"></span> Wiadomości
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="members">
                <span class="oi oi-eye" aria-hidden="true"></span> Klanowicze
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="adult">
                <span class="oi oi-power-standby" aria-hidden="true"></span> Tylko dla dorosłych
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stats">
                <span class="oi oi-target" aria-hidden="true"></span> Statystyki
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guids">
                <span class="oi oi-globe" aria-hidden="true"></span> Poradnik
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
